# Data Preprocessing

### Reading json data and load to Pandas

In [1]:
import json
import pandas as pd

In [2]:
file_business, file_checkin, file_review, file_tip, file_user = [
    'input/yelp_academic_dataset_business.json',
    'input/yelp_academic_dataset_checkin.json',
    'input/yelp_academic_dataset_review.json',
    'input/yelp_academic_dataset_tip.json',
    'input/yelp_academic_dataset_user.json'
]

#### Business Data

In [3]:
with open(file_business, 'rb') as f:
    df_business = pd.DataFrame(json.loads(line) for line in f)

In [4]:
df_business.head(2)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,1314 44 Avenue NE,"{'BikeParking': 'False', 'BusinessAcceptsCredi...",Apn5Q_b6Nz61Tq4XzPdf9A,"Tours, Breweries, Pizza, Restaurants, Food, Ho...",Calgary,"{'Monday': '8:30-17:0', 'Tuesday': '11:0-21:0'...",1,51.091813,-114.031675,Minhas Micro Brewery,,T2E 6L6,24,4.0,AB
1,,"{'Alcohol': 'none', 'BikeParking': 'False', 'B...",AjEbIBw6ZFfln7ePHha9PA,"Chicken Wings, Burgers, Caterers, Street Vendo...",Henderson,"{'Friday': '17:0-23:0', 'Saturday': '17:0-23:0...",0,35.960734,-114.939821,CK'S BBQ & Catering,,89002,3,4.5,NV

In [5]:
df_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188593 entries, 0 to 188592
Data columns (total 15 columns):
address         188593 non-null object
attributes      162807 non-null object
business_id     188593 non-null object
categories      188052 non-null object
city            188593 non-null object
hours           143791 non-null object
is_open         188593 non-null int64
latitude        188587 non-null float64
longitude       188587 non-null float64
name            188593 non-null object
neighborhood    188593 non-null object
postal_code     188593 non-null object
review_count    188593 non-null int64
stars           188593 non-null float64
state           188593 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 21.6+ MB

#### Review Data

In [6]:
with open(file_review, encoding='utf-8') as f:
    df_review = pd.DataFrame(json.loads(line) for line in f)
df_review.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,iCQpiavjjPzJ5_3gPD5Ebg,0,2011-02-25,0,x7mDIiDB3jEiPGPHOmDzyw,2,The pizza was okay. Not the best I've had. I p...,0,msQe1u7Z_XuqjGoqhB0J5g
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g

In [7]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5996996 entries, 0 to 5996995
Data columns (total 9 columns):
business_id    object
cool           int64
date           object
funny          int64
review_id      object
stars          int64
text           object
useful         int64
user_id        object
dtypes: int64(4), object(5)
memory usage: 411.8+ MB

#### User Data

In [8]:
with open(file_user, 'rb') as f:
    df_user = pd.DataFrame(json.loads(line) for line in f)
df_user.head(2)

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,2.0,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Susan,1,0,lzlZwIpuSWXEnNS91wxjHw,2015-09-28
1,5.0,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Daipayan,2,0,XvLBr-9smbI0m_a7dXtB7w,2015-09-05

In [9]:
df_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1518169 entries, 0 to 1518168
Data columns (total 22 columns):
average_stars         1518169 non-null float64
compliment_cool       1518169 non-null int64
compliment_cute       1518169 non-null int64
compliment_funny      1518169 non-null int64
compliment_hot        1518169 non-null int64
compliment_list       1518169 non-null int64
compliment_more       1518169 non-null int64
compliment_note       1518169 non-null int64
compliment_photos     1518169 non-null int64
compliment_plain      1518169 non-null int64
compliment_profile    1518169 non-null int64
compliment_writer     1518169 non-null int64
cool                  1518169 non-null int64
elite                 1518169 non-null object
fans                  1518169 non-null int64
friends               1518169 non-null object
funny                 1518169 non-null int64
name                  1518169 non-null object
review_count          1518169 non-null int64
useful                1518169 non-null int64
user_id               1518169 non-null object
yelping_since         1518169 non-null object
dtypes: float64(1), int64(16), object(5)
memory usage: 254.8+ MB

### Filter business data

#### Select related business:
- That contains "Restaurants" in their category
- That located in state of California

In [10]:
# Create Pandas DataFrame filters
df_business_p= df_business[df_business.city=='Pittsburgh']
df_business_p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6804 entries, 9 to 188589
Data columns (total 15 columns):
address         6804 non-null object
attributes      5980 non-null object
business_id     6804 non-null object
categories      6790 non-null object
city            6804 non-null object
hours           5039 non-null object
is_open         6804 non-null int64
latitude        6804 non-null float64
longitude       6804 non-null float64
name            6804 non-null object
neighborhood    6804 non-null object
postal_code     6804 non-null object
review_count    6804 non-null int64
stars           6804 non-null float64
state           6804 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 850.5+ KB

In [11]:
# Create filtered DataFrame, and name it df_filtered
df_business_p = df_business_p[df_business_p.categories.notnull()]
df_filtered = df_business_p[df_business_p["categories"].apply(str).str.contains("Restaurants")]

In [12]:
df_filtered.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
73,5440 Walnut St,"{'Alcohol': 'full_bar', 'Ambience': '{'romanti...",f2FfutZhb4F-m1Ob0EdYaw,"Asian Fusion, Caterers, Fast Food, Chinese, Re...",Pittsburgh,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,40.450866,-79.933919,China Palace,Shadyside,15232,110,3.0,PA
89,4635 Centre Ave,"{'Ambience': '{'romantic': False, 'intimate': ...",qfcdMhm1Ff28JHVpHca20g,"Pizza, Restaurants",Pittsburgh,"{'Monday': '10:0-1:0', 'Tuesday': '10:0-1:0', ...",1,40.452410,-79.950668,Pizza Bellagio,Oakland,15213,18,1.5,PA
295,500 Liberty Ave,"{'Alcohol': 'none', 'Ambience': '{'romantic': ...",rreIYrzI9U052p7nN_qogA,"Sushi Bars, Food, Thai, Poke, Japanese, Restau...",Pittsburgh,"{'Monday': '11:0-19:0', 'Tuesday': '11:0-19:0'...",1,40.441321,-80.003514,Pittsburgh Poke,Downtown,15222,94,4.5,PA
298,101 Panther Hollow Rd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...",eva56motCJcevOwKzyQO1g,"Cafes, Hotels & Travel, Swimming Pools, Travel...",Pittsburgh,"{'Monday': '6:0-23:0', 'Tuesday': '6:0-23:0', ...",1,40.437541,-79.948883,Schenley Park Visitors Center,Oakland,15213,12,5.0,PA
319,1836 Centre Ave,"{'BusinessParking': '{'garage': False, 'street...",dUeEAGxEwMv1Tafj6yr1BA,"Food, Cafes, Coffee & Tea, Restaurants",Pittsburgh,"{'Monday': '7:0-19:0', 'Tuesday': '7:0-19:0', ...",1,40.442597,-79.982292,Crazy Mocha,The Hill District,15219,3,5.0,PA

In [13]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2305 entries, 73 to 188523
Data columns (total 15 columns):
address         2305 non-null object
attributes      2256 non-null object
business_id     2305 non-null object
categories      2305 non-null object
city            2305 non-null object
hours           1834 non-null object
is_open         2305 non-null int64
latitude        2305 non-null float64
longitude       2305 non-null float64
name            2305 non-null object
neighborhood    2305 non-null object
postal_code     2305 non-null object
review_count    2305 non-null int64
stars           2305 non-null float64
state           2305 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 288.1+ KB

#### Only selected those business with more than 10 reviews

In [14]:
df_filtered = df_filtered[df_filtered.review_count > 10]

In [15]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1635 entries, 73 to 188523
Data columns (total 15 columns):
address         1635 non-null object
attributes      1634 non-null object
business_id     1635 non-null object
categories      1635 non-null object
city            1635 non-null object
hours           1472 non-null object
is_open         1635 non-null int64
latitude        1635 non-null float64
longitude       1635 non-null float64
name            1635 non-null object
neighborhood    1635 non-null object
postal_code     1635 non-null object
review_count    1635 non-null int64
stars           1635 non-null float64
state           1635 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 204.4+ KB

#### Get rid of unrelated columns

In [16]:
selected_features = ['business_id', 'name', 'categories','attributes','city']

In [17]:
# Make a DataFrame that contains only the abovementioned columns, and name it as df_selected_business
df_selected_business = df_filtered[selected_features]
df_selected_business = df_selected_business[df_selected_business.attributes.notnull()]

In [18]:
df_selected_business.head()

,business_id,name,categories,attributes,city
73,f2FfutZhb4F-m1Ob0EdYaw,China Palace,"Asian Fusion, Caterers, Fast Food, Chinese, Re...","{'Alcohol': 'full_bar', 'Ambience': '{'romanti...",Pittsburgh
89,qfcdMhm1Ff28JHVpHca20g,Pizza Bellagio,"Pizza, Restaurants","{'Ambience': '{'romantic': False, 'intimate': ...",Pittsburgh
295,rreIYrzI9U052p7nN_qogA,Pittsburgh Poke,"Sushi Bars, Food, Thai, Poke, Japanese, Restau...","{'Alcohol': 'none', 'Ambience': '{'romantic': ...",Pittsburgh
298,eva56motCJcevOwKzyQO1g,Schenley Park Visitors Center,"Cafes, Hotels & Travel, Swimming Pools, Travel...","{'BikeParking': 'True', 'BusinessAcceptsCredit...",Pittsburgh
432,HiHUTSxpyKhQqLFti3Xnzw,The Commoner Corner,"Breakfast & Brunch, Restaurants","{'Alcohol': 'full_bar', 'Ambience': '{'romanti...",Pittsburgh

### User review data

#### Select user who give more than 20 reviews

In [19]:
user_num = df_review['user_id'].nunique()

In [20]:
user_num

1518169

In [21]:
user_review_num = df_review['user_id'].value_counts()
users = user_review_num[user_review_num > 20]

In [22]:
df_review = df_review[df_review.user_id.isin(users.index.tolist())]

In [23]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2092104 entries, 43 to 5996974
Data columns (total 9 columns):
business_id    object
cool           int64
date           object
funny          int64
review_id      object
stars          int64
text           object
useful         int64
user_id        object
dtypes: int64(4), object(5)
memory usage: 159.6+ MB

#### Select related user reviews:
- That the reviewed business is in Pittsburgh

In [24]:
selected_features = ['business_id','stars','user_id','text']
df_review_selected = df_review[selected_features]

In [25]:
# Create Pandas DataFrame filters
df_review_p=pd.merge(df_review_selected, df_selected_business, on='business_id')
df_review_p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51864 entries, 0 to 51863
Data columns (total 8 columns):
business_id    51864 non-null object
stars          51864 non-null int64
user_id        51864 non-null object
text           51864 non-null object
name           51864 non-null object
categories     51864 non-null object
attributes     51864 non-null object
city           51864 non-null object
dtypes: int64(1), object(7)
memory usage: 3.6+ MB

In [26]:
df_review_p.head()

,business_id,stars,user_id,text,name,categories,attributes,city
0,YO8sWa0wYChH6DQWnE6NFg,4,djSJ6a9gsLSdj-7BoyNNQA,You're not gonna find a much better breakfast ...,P&G's Pamela's Diner,"Restaurants, Breakfast & Brunch","{'Alcohol': 'none', 'Ambience': '{'romantic': ...",Pittsburgh
1,YO8sWa0wYChH6DQWnE6NFg,4,Tj58A0_D-WsD-UirmpYSEQ,"It's true. The pancakes here are incredible, ...",P&G's Pamela's Diner,"Restaurants, Breakfast & Brunch","{'Alcohol': 'none', 'Ambience': '{'romantic': ...",Pittsburgh
2,YO8sWa0wYChH6DQWnE6NFg,1,lwCt_LgGAbPQpNRpaDR_Fg,Pamela's is not anything great (heavy and grea...,P&G's Pamela's Diner,"Restaurants, Breakfast & Brunch","{'Alcohol': 'none', 'Ambience': '{'romantic': ...",Pittsburgh
3,YO8sWa0wYChH6DQWnE6NFg,3,Figs8mO8s_aPRq2W7W0cYQ,I've been here a couple of times for brunch. I...,P&G's Pamela's Diner,"Restaurants, Breakfast & Brunch","{'Alcohol': 'none', 'Ambience': '{'romantic': ...",Pittsburgh
4,YO8sWa0wYChH6DQWnE6NFg,4,iRRjcenJiFkGO92I3RvW-A,Everything was great except the coffee. I had ...,P&G's Pamela's Diner,"Restaurants, Breakfast & Brunch","{'Alcohol': 'none', 'Ambience': '{'romantic': ...",Pittsburgh

### Export result to CSV

In [27]:
df_review_p.to_csv('data/filtered_review.csv', index=False)

In [28]:
# Try reload the csv file to check if everything works fine
df_review_p_test = pd.read_csv('data/filtered_review.csv', encoding ='ISO-8859-1')

In [29]:
df_review_p_test.head()

,business_id,stars,user_id,text,name,categories,attributes,city
0,YO8sWa0wYChH6DQWnE6NFg,4,djSJ6a9gsLSdj-7BoyNNQA,You're not gonna find a much better breakfast ...,P&G's Pamela's Diner,"Restaurants, Breakfast & Brunch","{'Alcohol': 'none', 'Ambience': ""{'romantic': ...",Pittsburgh
1,YO8sWa0wYChH6DQWnE6NFg,4,Tj58A0_D-WsD-UirmpYSEQ,"It's true. The pancakes here are incredible, ...",P&G's Pamela's Diner,"Restaurants, Breakfast & Brunch","{'Alcohol': 'none', 'Ambience': ""{'romantic': ...",Pittsburgh
2,YO8sWa0wYChH6DQWnE6NFg,1,lwCt_LgGAbPQpNRpaDR_Fg,Pamela's is not anything great (heavy and grea...,P&G's Pamela's Diner,"Restaurants, Breakfast & Brunch","{'Alcohol': 'none', 'Ambience': ""{'romantic': ...",Pittsburgh
3,YO8sWa0wYChH6DQWnE6NFg,3,Figs8mO8s_aPRq2W7W0cYQ,I've been here a couple of times for brunch. I...,P&G's Pamela's Diner,"Restaurants, Breakfast & Brunch","{'Alcohol': 'none', 'Ambience': ""{'romantic': ...",Pittsburgh
4,YO8sWa0wYChH6DQWnE6NFg,4,iRRjcenJiFkGO92I3RvW-A,Everything was great except the coffee. I had ...,P&G's Pamela's Diner,"Restaurants, Breakfast & Brunch","{'Alcohol': 'none', 'Ambience': ""{'romantic': ...",Pittsburgh

In [30]:
df_review_p_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51864 entries, 0 to 51863
Data columns (total 8 columns):
business_id    51864 non-null object
stars          51864 non-null int64
user_id        51864 non-null object
text           51864 non-null object
name           51864 non-null object
categories     51864 non-null object
attributes     51864 non-null object
city           51864 non-null object
dtypes: int64(1), object(7)
memory usage: 3.2+ MB